.h-album-cell {
	text-align: center !important;
}

.img-album {
	display: block !important ;
	margin: 0 auto !important;
	border: solid 2px #c3c3c3;
}

.h-name-cell {
	text-align: center !important;
	font-family: lato;
}

.h-comp-cell {
	text-align: center !important;
	font-family: lato;
	font-weight: bold;
}

.h-firstsong-cell {
	text-align: right !important;
	font-family: lato;
}

.h-secondsong-cell {
	text-align: left !important;
	font-family: lato;
}

.h-date-cell {
	font-family: lato;
}

.h-header {
	font-family: lato;
	font-weight: bold;
	padding: 10px !important;
}