.user-container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuWrapper {
  width: 75%;
}

#lbox {
	display: none;
}

#rbox {
	display: block;
}

#hbox {
	display: none;
}
