.album-cell {
	text-align: center !important;
}

.img-album {
	display: block !important ;
	margin: 0 auto !important;
	border: solid 2px #c3c3c3;
}

.name-cell {
	text-align: center !important;
	font-family: lato;
}