@import '../../variables.scss';

.parent {
  width: 780px;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: 100px;
  /*border: 2px solid black;*/

  input {
    font-family: $dosis !important;
    font-size: 50px;
    height: 75px;
  }
}

.item {
  margin-right: 20px;
  align-self: center;
}
